.father {
  display: grid;
  gap: 10px;
  height: 50vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: coral;
}

.content {
  background-color: darkblue;
}

.nav {
  background-color: green;
}

.footer {
  background-color: violet;
}
